<nav class="navbar navbar-expand-lg" id="_nav_">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CoinTracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngIf="auth.logueado" class="nav-item">
            <a class="nav-link active" aria-current="page" href="/coins">My Coins</a>
          </li>
          <li *ngIf="!auth.logueado">
            <a routerLink="/sign-in" id="sesion_in">Sign in</a>
          </li>
          <li *ngIf="auth.logueado">
            <a href="" id="sesion_out" (click)="signOut()">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
</nav>