<div id="coins_div">
  <h2 id="coins">Coins</h2>
    <div id="monedas">
      <div id="div_1" *ngFor="let moneda of monedas">
        <div (click)="addToFav(moneda.id)">
          <div hidden>{{ moneda.id }}</div>
          <img src="{{ moneda.image.small }}" alt="imagen de la crypto">
        </div>
      </div>
    </div>
    <div id="favoritas">
      <h2>User Coins</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Capitalization</th>
            <th>Volume</th>
            <th>Higher price/24h</th>
            <th>Lower price/24h</th>
            <td>More Info</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let favourite of favouriteCoins">
            <td>{{ favourite.name }}</td>
            <td><img src="{{ favourite.image.thumb }}" alt=""></td>
            <td>{{ favourite.symbol }}</td>
            <td>{{ favourite.market_data.current_price.eur }}€</td>
            <td>{{ favourite.market_data.market_cap.eur }}</td>
            <td>{{ favourite.market_data.total_volume.eur }}</td>
            <td>{{ favourite.market_data.high_24h.eur }}</td>
            <td>{{ favourite.market_data.low_24h.eur }}</td>
            <td><a href="/details/{{favourite.id}}"><i class="fa fa-plus" aria-hidden="true"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
