<div id="landing">
    <h1>Crypto Coins</h1>
    <div id="div_home">
        <div id="intro">
            <h3>CoinTracker</h3>
            <p>Conoce la que será tu herramienta de inversión: nuestra plataforma CoinTracker, especialmente diseñada por los Clientes de CoinTracker, en la que encontrarás todas las herramientas que necesitas: las últimas noticias de los mercados, ideas de inversión, un potente conjunto de indicadores técnicos, radio de traders, herramientas macro y mucho más.</p>
        </div>
        <h4>Samuel Gómez Pérez</h4>
    </div>
</div>